

h6 {
    color: black;
}

h4{
    font-family: Arial !important;
    font-size: 19px !important;
    color: #000000 !important;
}
h2{
    font-family: Arial !important;
    font-size: 26px !important;
    color: #000000 !important;
}

p {
    font-size: 14px;
    color: #595959;
}